@import "base";

/* NAV-LINK */
.nav-link {
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  color: $dark-grey;
  cursor: pointer;
  position: relative;

  &:visited {
    color: $dark-grey;
  }

  &:before, &:after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
  }

  &:before {
    content: '';
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
  }

  &:hover::before {
    transform-origin: 0 50%;
    transform: scale3d(1, 1, 1);
  }
}

/* LINK */
.link {
  text-decoration: none;
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: bold;
  color: $black;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #9a9a9a;
  }

  &:visited {
    color: $black;
  }

  &-source {
    font-size: 0.7em;
  }
}

/* BTN */
.button {
  pointer-events: auto;
  cursor: pointer;
  background: $grey;
  border: none;
  padding: 0.5rem 0.5rem;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;

  &:before, &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.button-animated {
  border: 1px solid $black;
  overflow: hidden;
  color: #fff;
  width: 113px;
  margin: 0 10px;

  span {
    display: block;
    position: relative;
  }

  & > span {
    overflow: hidden;
    & > span {
      overflow: hidden;
      mix-blend-mode: difference;
    }
  }

  &:hover > span > span {
    animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.1s;
  }

  &:active > span > span {
    animation: MoveUpInitial 0.2s forwards;
  }

  &:before {
    content: '';
    background: $dark-grey;
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    transform-origin: 100% 50%;
  }

  &:hover::before {
    transform: scale3d(0,1,1);
    transform-origin: 0 50%;
  }

  @media (min-width: 930px) {
    margin: 0;
  }
}

.button-comment {
  margin: 10px 0 0 10px;

  @media (min-width: 930px) {
    margin: 10px 0 0 10px;
  }
}

.btn-disabled {
  color: $dark-grey;
  cursor: not-allowed;
  margin: 10px 0 0 10px;
  border: 1px solid $black;
}
/* BTN */

/* SKELETON */
.skeleton {
  &-wrapper {
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
  }

  &-item {
    display: flex;
    flex-wrap: wrap;
    > div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  &-block {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderSkeleton;
    animation-timing-function: linear;
    animation-delay: 0.5s;
    background-color: $gradient-base;
    background-image: linear-gradient(90deg, $gradient-base 14.36%, #e8e8e8 56.29%, $gradient-base 100%);
    background-repeat: no-repeat;
    background-size: 244px 104px;
    position: relative;
    height: 17px;
    border-radius: 10px;
    width: 100%;
    margin: 3px 6px 3px 0;
  }
  &-block-header {
    height: 15px;
  }
  &-block-info {
    height: 12px;
  }
  &-block-title {
    margin-bottom: 15px;
    margin-top: 47px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    height: 29px;
  }
}

@keyframes placeHolderSkeleton {
  0% {
    background-position: calc(0% - 300px) 0;
  }

  20% {
    background-position: calc(0% - 300px) 0;
  }

  80% {
    background-position: calc(100% + 300px) 0;
  }

  100% {
    background-position: calc(100% + 300px) 0;
  }
}
/* SKELETON */